.meter {
  font-size: .6em;
  width: 100%;
  height: 1.8em;
  border: 1px solid #C0C0C0;
}

#message {
	padding-top: 10px;
}

#days {
	font-size: .7em;
	word-spacing: 6.6em;
	position: relative;
	left: 4.25em;
}

.progress {
  margin-bottom: 0;
}

.progress .bar {
  background-color: #78A300;
}

#goal {
  padding: 1% 5px 1% 5px;
  width: 75%;
}

#enter-goal-btn {
  width: 20%;
}